$darkBg : #151514;
$orange: #da571f;

.shop {
    background-color: #fff;
    padding: 80px 60px;
    padding-right: 0;

    h2 {
        text-transform: uppercase;
        color: $darkBg;
    }

    p {
        color: $darkBg
    }
}

.product-slides {
    margin-top: 80px;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}
  

.item {
    border: 1px solid #cdcdcd;
    padding: 10px;

    .img {
        padding-top: 30px;

        img {
            width: 100%;
            height: 353px;
            object-fit: contain;
        }
    }

    .text {
        h5 {
            color: #151514;
            font-size: 1.6rem;
            max-width: 85%;
            text-align: center;
        }
    }
}