$darkBg : #151514;
$orange: #da571f;

.video-banner {
    position: relative;

    .video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    &:before {
        background: $darkBg;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
        z-index: 1;
        content: "";
        width: 100%;
        height: 100%;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 60px;
        color: #fff;
        z-index: 2;
        transform: translateY(-35%);
        width: 550px;
        max-width: 90%;

        h1 {
            text-transform: uppercase;
            color: #fff;
            word-spacing: -10px;

        }

        p {
            margin-bottom: 0;
        }

        .play-btn {
            margin-top: 30px;
        }
    }
}